*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --background-color: #f5f5f5;
  --text-color: #333333;
  --lighter-text-color: #666666;
  --border-color: #e0e0e0;
  --green-accent: #388e3c;
  --lighter-green: #4caf50;
  --primary-green: #81c784;
  --strong-red: #d32f2f;
}
a{
  text-decoration: none;
}
body{
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 1em;
  line-height: 1.5;
}